$min-width-296px: 296px;
$max-width-296px: 296px;

$min-width-300px: 300px;
$max-width-300px: 300px;

$min-width-360px: 360px;
$max-width-360px: 360px;

/// ///////////////////////////////////////
/// Sizing
/// ///////////////////////////////////////
.w-xs-100 {
    width: 100%;
}

.min-width-296px {
    min-width: $min-width-296px !important;
}

.max-width-296px {
    max-width: $max-width-296px !important;
}

.min-width-360px {
    min-width: $min-width-360px !important;
}

.max-width-360px {
    max-width: $max-width-360px !important;
}

.min-width-300px {
    min-width: $min-width-300px !important;
}

.max-width-300px {
    max-width: $max-width-300px !important;
}
